*, *::before, *::after {
  box-sizing: border-box;
}

.app-header {
    background: #4AC29A; 
background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  
background: linear-gradient(to right, #BDFFF3, #4AC29A); 
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    
}

.app-title{
    color: white;
    font-size: 40px;
    font-weight: bold;
 
}

.app-container{
    display: grid;
    justify-content: center;
    align-content: center;
   min-height: 80vh;
   grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(80px, auto) repeat(6, 80px);

}

/*selecciono todos los botones dentro de la clase app-container*/
.app-container > button{
 border-radius: 1rem;
 cursor:pointer;
 margin: 3px;
 font-size: 1rem;
 font-weight: bold;

 border: 1px solid rgb(245, 223, 220);
 outline: none;

}
.btn-num{
    background-color: #BACC81;
    color:beige;
}
.btn-num:hover{
    background-color: #CDD193;
}


.span-two{
    grid-column: span 2;
    background-color: #013A20;
    color:white

}

.span-two:hover{
    background-color: #02502d;
   
}

.btn-op{
    background-color: #478C5C;
    color: white;
}

.btn-op:hover{
    background-color: #326642;
}

.app-input{
    /*que ocupe una columna entera*/
    grid-column: 1/-1;
    margin-bottom: .5rem;
    background-color: #DBE8D8;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 1rem;
    padding: 10px;
    /*hace mas grande al container dependiendo lo que tenga adentro*/
    word-wrap: break-word;
    word-break: break-all;
}

.app-input .previous-operation{
    color: #282c34;
    font-size: 1.5rem;
}

.app-input .current-operation{
    color: #00c0a6;
    font-size: 2.5rem;
}
