
.w-container{
    background-image: url('../../tools/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: smooth;
    height: 100vh;
    width: 100%;

  
}

.w-title{
    color: #fafafa;
    font-size: 2.5rem;
}

.container-cities{
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(1, 1fr);
margin-left: 50px;
margin-right: 50px;
margin-top: 50px;

}

.text-alt{
    color: #fafafa;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 60vh;
}

.weather-gif{
    width: 25%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 85vh;
    margin-top: 10vh;
}