
.e_title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #3f3f3f;
}

.e_body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    

}
.siteFilter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.e_fromGroupFilter{
    display: flex;
    flex-direction: column;
    align-items: center;


}


.e_fromGroup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1vh;
}

.e_fromGroupDate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}



.e_label{
    font-size: 1rem;
    font-weight: bold;
    color: #3f3f3f;
    margin-bottom: 1vh;
}

.e_formControl{
    border: none;
    border-bottom: 1px solid #3f3f3f;
    width: 20vw;
}

.e_subtext{
    font-style: italic;
    font-size: 0.8rem;
 
}