
.title-calendar{
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    margin-top: 5vh;

}
.new-event-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.detail-event-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}